* {
	box-sizing: border-box;
}

html {
	width: 100vw;
}
body {
	margin: 0;
	padding: 0;
}
.header {
	font-size: 70px;
	font-family: 'Roboto';
	font-weight: 500;
	height: 200px;
	background-color: rgb(224, 222, 222);
	text-align: center;
	margin: auto;
	padding: 60px;
}
